.Home {
  background-color: #333;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Home .category-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Home .fav-books {
  background-image: linear-gradient(
    to right top,
    #242522,
    #252623,
    #262724,
    #272825,
    #282926
  );
  width: 70vw;
  height: 38vh;
  padding-left: 20px;
  border-radius: 15px;
}

.Home .titles {
  color: rgba(172, 255, 47, 0.644);
  letter-spacing: 2px;
  border-bottom: 2px solid #0b6165;
  display: inline-block;
}

.Home .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.Home .logged-user span {
  color: rgba(172, 255, 47, 0.816);
}

.Home .big-book-container {
  padding-top: 30px;
  display: flex;
  gap: 20px;
}

.Home .book-of-the-day-container .book-of-the-day {
  margin-top: 20px;
  background-color: #494f3e2d;
  width: 70vw;
  padding: 20px;
  border-radius: 10px;
}

.Home .big-book-container .right-side .same-more-books .books {
  padding-top: 3vh;
}

.Home .weekly-featured-container {
  display: flex;
  gap: 60px;
  width: 70vw;
  height: fit-content;
  margin: 15px 0;
  border-radius: 20px;
}

.Home .weekly-featured-title {
  padding-top: 40px;
}

.Home .weekly-featured {
  width: 100%;
  height: 100%;
  background-color: #272825;
  border-radius: 20px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.Home .weekly-featured p {
  padding: 20px 0;
  letter-spacing: 1.5px;
  color: rgb(4, 195, 170);
  font-size: 1.1rem;
  padding-bottom: 0;
}

.Home .divider {
  margin-top: 20px;
  border: 1px solid rgb(251, 255, 0);
  width: 100%;
}

.Home .fairy-books-container {
  margin-top: 20px;
}
.Home .fairy-books {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262724;
  width: 72vw;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px 30px;
}

.Home .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .Home {
    padding-left: 7%;
  }

  .Home .fav-books {
    width: 86%;
    height: fit-content;
    padding-left: 20px;
    height: 45vh;
  }

  .Home .titles {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .Home .book-of-the-day-container .book-of-the-day {
    /* width: 80vw; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .Home .weekly-featured-container {
    width: 80vw;
  }
}
@media (max-width: 767px) {
  .Home .weekly-featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  .Home .fav-books {
    width: 90%;
    height: fit-content;
    padding-left: 20px;
    height: 400px;
  }

  .Home .titles {
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .Home .logged-user {
    margin-left: 0vw;
  }

  .Home .logged-user h5 {
    font-size: 1rem;
  }

  .Home .book-of-the-day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Home .fairy-books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Home .book-of-the-day-container .book-of-the-day {
    width: 85vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Home .weekly-featured-container {
    gap: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Home .weekly-featured p {
    padding: 20px 0;
    font-size: 0.8rem;
    padding-bottom: 0;
    letter-spacing: 0;
  }

  .Home .divider {
    width: 90%;
  }

  .Home .fairy-books {
    justify-content: start;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
