.Carousel {
  height: 38vh;
  margin-left: -20px;
}

.Carousel .books {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 35px;
}

.Carousel h5 {
  margin-left: 60px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  color: rgb(2, 239, 239);
  letter-spacing: 2px;
}

.Carousel .carousel-indicators {
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 1440px) {
  .Carousel {
    margin-top: 10px;
    height: 45vh;
  }

  .Carousel .books {
    margin-left: 0%;
    padding-left: 0%;
    background-color: transparent;
    width: 100%;
    margin-top: 30px;
    height: 100%;
  }

  .Carousel h5 {
    padding-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 1150px) {
  .Carousel .carousel-item {
    margin-top: -15px;
  }
}

@media (max-width: 767px) {
  .Carousel {
    margin-top: 10px;
    height: 38vh;
    margin-left: 0px;
  }

  .Carousel .books {
    margin-left: 0px;
    background-color: transparent;
    width: 100%;
    height: fit-content;
  }

  .Carousel h5 {
    padding-top: 40px;
    margin-left: 0;
  }

  .carousel {
    height: 100%;
  }

  .Carousel .carousel-item {
    margin-top: 0;
  }
}
