div.MuiStack-root.css-v2woy3-MuiStack-root > span {
  height: 200px;
  width: 1200px;
}

@media (max-width: 1440px) {
  div.MuiStack-root.css-v2woy3-MuiStack-root > span {
    width: 700px;
  }
}

@media (max-width: 700px) {
  div.MuiStack-root.css-v2woy3-MuiStack-root > span {
    width: 300px;
  }
}
